<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

    <style>

        body{
            background-color: #f5e6dc;
            font-family: Arial, sans-serif;
            color: #5c4033;
            text-align: center;
            padding-top: 60px;
        }

        h1{
            color: #b76e79;
        }

        p{
            font-size: 18px;
        }

        button{
            background-color: #d8a48f;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
        }

    </style>

</head>
<body>

    <h1>Bienvenido Aventurero</h1>

    <p>¡Prepárate para la aventura!</p>

    <p>
        Bienvenido a la aventura de Programación Móvil
    </p>

    <a href="/reglas">
        <button>Cámara de las Reglas</button>
    </a>

</body>
</html>