<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
</head>
<body>
    <h1>Skills</h1>

    <img src="{{ url_for('static', filename='Fechas.png') }}">

    <form method="POST">

    <p>¿Cuánto vale el examen del primer parcial?</p>
        <select name="respuesta1" id="">
            <option value="40">40%</option>
            <option value="30">30%</option>
            <option value="20">20%</option>
        </select>

    <p>¿Cuánto vale el examen del segundo parcial?</p>
        <select name="respuesta2" id="">
            <option value="40">40%</option>
            <option value="30">30%</option>
            <option value="20">20%</option>
        </select>

    <p>¿Cuánto vale el Proyecto Integrador del tercer parcial?</p>
        <select name="respuesta3" id="">
            <option value="40">40%</option>
            <option value="50">50%</option>
            <option value="60">60%</option>
        </select>

    <br>

    <input type="checkbox" name="compromiso">
    <label>Acepto continuar la aventura</label>

    <br><br>

    <button type="submit">
        Enviar
    </button>

    </form>

    <h2>{{ mensaje|safe }}</h2>
    <h2>Necesitas al menos 2 preguntas correctas</h2>

    {% if desbloqueado %}
    <a href="/skills">Ir a skills</a>
    {% endif %}

</body>
</html>