<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
</head>
<body>
    <h1>Skills</h1>

    <img src="{{ url_for('static', filename='Fechas.png') }}">

    <h2>Necesitas al menos 2 preguntas correctas</h2>

    <form method="POST">

    <p>¿Cuáles eran los puntos del objetivo general?</p>
        <select name="respuesta1" id="">
            <option value="1">Aplicación movil o web, Internet público, API, Servicio web, Base de datos</option>
            <option value="2">Aplicación movil o web, Internet privado, AWS, Servicio web, Tablas</option>
            <option value="3">Aplicación movil o web, Internet público, Amazon, Servicio web, Base de datos</option>
        </select>

    <p>¿Cuántos conceptos de ReactNative se van a explicar en la materia?</p>
        <select name="respuesta2" id="">
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="4">4</option>
        </select>

    <br>

    <input type="checkbox" name="compromiso">
    <label>Acepto continuar la aventura</label>

    <br><br>

    <button type="submit">
        Enviar
    </button>

    </form>

    <h2>Número de respuestas correctas: {{ correctas }}</h2>

    {% if desbloqueado %}
    <a href="/fechas">Ir a fechas</a>
    {% endif %}

</body>
</html>